{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
  <div class="wrapper wow fadeInRight" data-wow-delay="0.2s">
    <div class="title">{{ title }}</div>
    <form class="p-3 mt-3" action="." method="post" autocomplete="off">
      {% csrf_token %}
      {% if form.errors or form.non_field_errors %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for field in form %}
            {{ field.errors }}
          {% endfor %}
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      <div class="form-field d-flex align-items-center">
        {{ form.email }}
        <span class="bi bi-envelope me-2 fs-3"></span>
      </div>
      <div class="form-field d-flex align-items-center">
        {{ form.password1 }}
        <span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_password1"></span>
      </div>
      <div class="form-field d-flex align-items-center">
        {{ form.password2 }}
        <span class="bi bi-eye toggle-password me-3 fs-3" data-target="id_password2"></span>
      </div>
      <p class="text-danger" id="result" style="font-size: 14px; font-weight: 100; font-style:italic ;"></p>
      <div id="match-result" class="small mt-1"></div>
      <button class="btn mt-3">{{ title }}</button>
    </form>
    <div class="text-center fs-6">
      Have an account!<a href="{% url 'account_login' %}" class="fs-5">&nbsp;&nbsp;Login</a>
    </div>
    <div class="login-with">
      <p class="mt-5 text-center">Hoặc đăng hập với</p>
    </div>
    <div class="d-flex justify-content-between mt-5">
      <div class="social google">
        <a href="{% provider_login_url 'google' %}"><img src="{% static 'images/icon/google.png' %}" alt="google" /></a>
      </div>
      <div class="social facebook">
        <img src="{% static 'images/icon/facebook.png' %}" alt="facebook" />
      </div>
      <div class="social twiter">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="twiter" />
      </div>
      <div class="social apple">
        <img src="{% static 'images/icon/apple.png' %}" alt="apple" />
      </div>
    </div>
  </div>
{% endblock %}
