<!DOCTYPE html>
{% load static %}
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %} {{ site_name }}
    </title>
    {% block meta_description %}

    {% endblock %}
    <link rel="shortcut icon" href="{% static 'images/icon/logo.ico' %}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
    {% comment %}mycss{% endcomment %}
    <link rel="stylesheet" href="{% static 'core/css/hero.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'profiles/css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'profiles/css/dashboard.css' %}" />
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Messages!</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    {% comment %}navbar{% endcomment %}
    {% block navbar %}

    {% endblock %}
    {% comment %}account_form{% endcomment %}

    {% block hero %}
      {% include 'partials/hero.html' %}
    {% endblock %}

    {% comment %}content{% endcomment %}
    {% block content %}

    {% endblock %}
    {% block footer %}

    {% endblock %}

    {% comment %}js{% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'profiles/js/profile.js' %}"></script>
    <script src="{% static 'profiles/js/form.js' %}"></script>
    <script src="{% static 'profiles/js/dashboard.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="{% static 'core/js/navbar.js' %}"></script>
    <script src="{% static 'store/js/category.js' %}"></script>
    <script src="{% static 'store/js/product.js' %}"></script>
  </body>
</html>
